{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<div class="container">

    <!-- {% for user in users %}
    <p class="text-muted my-3"> Автор: {{ user.id }}</p>

    {% endfor %} -->
    <div class="courses-list container-fluid mt-3 mb-3">
        {% for book in books %}
            <div class="row p-3 border rounded mb-3">
                <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                    {% for img in imgs%}
                        {% if img.book_id==book.id%}
                            <img class="course-logo w-100 h-100" src="{{ img.url }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-9 align-items-center">
                    <div class="d-flex">
                        <h4 class="text-uppercase">{{ book.name }}</h4>
                        <p class="ms-auto rating">
                            <span>★</span> <span>
                                {{ book.grade_average }}</span>
                        </p> 
                        
                    </div>
                    <p class="text-muted my-3"> Автор: {{ book.author }}</p>
                    <p class="text-muted my-3"> Год: {{ book.year }}</p>
                    <p class="text-muted my-3"> Жанр:
                        {% for book_genre in book_genres %}
                            {% if book_genre.book_id==book.id %}
                                {{ book_genre.genre.name_genre }}. 
                            {% endif %}
                        {% endfor %} </p>
                    <p class="text-muted my-3"> Количество рецензий: {{ book.grade_amount }}</p>

                    
                </div>

                <div class="btn">
                    <a class="btn btn-primary" href="{{ url_for('books.show', book_id=book.id) }}">Просмотр</a>
                    
                    {% if current_user.is_authenticated %}
                        {% if current_user.can('edit') %}
                            <a class="btn btn-secondary" href="{{ url_for('books.edit', book_id=book.id) }}">Редактирование</a>
                        {% endif %}
                        
                        {% if current_user.can('delete') %}
                        <button type="button" class="btn btn-danger" data-url="{{ url_for('books.delete', book_id=book.id) }}" data-bs-toggle="modal" data-bs-target="#delete-book-modal">
                            Удалить
                        </button>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="modal fade" id="delete-book-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Удаление книги <span>{{ book.name }}</span></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Вы уверены, что хотите удалить книгу <span id="book-name">{{ book.name }}</span>?
                      <form action="" method="POST">
                          <input type="hidden" name="book_id" value="">
                          <input id="delete-btn" type="submit" class="d-none">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                      <label class="btn btn-danger" for="delete-btn">Да</label>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
            <!-- Из 5 лабы -->
        
    </div>

    <div class="mb-5">
        {{ render_pagination(pagination, request.endpoint) }}
    </div>

    {% if current_user.is_authenticated and current_user.can('create') %}
        <div class="text-center my-3">
            <a class="btn btn-lg btn-dark" href="{{ url_for('books.new') }}">Добавить книгу</a>
        </div>
    {% endif %}


</div>
{% endblock %}